/* src/components/Card.css */

.card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.card.large {
  grid-column: span 2;
  height: 150px;
}

.card.medium {
  height: 100px;
}

.card.small {
  height: 70px;
}
