/* Reset dan Box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* Container Dashboard */
.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Bagian Konten Utama */
.content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow-y: auto;
}

/* Header */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.date-selector {
  font-size: 1em;
  color: #555;
}

/* Bagian Dashboard */
.dashboard {
  font-size: 1.5em;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Kartu */
.card {
  background-color: #333;
  border-radius: 8px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Ukuran Kartu */
.large-card {
  grid-column: span 2;
  height: 300px;
}

.medium-card {
  height: 300px; /* Tinggi ditingkatkan untuk grafik */
  padding: 10px;
}

.small-card {
  height: 200px;
}

/* Responsif */
@media (max-width: 768px) {
  .dashboard-cards {
    grid-template-columns: 1fr;
  }
}
